# Node
node_modules/
.next/
out/

# Python
.venv/
fridge-recipe/
back/fridge-recipe/
__pycache__/
*.pyc
*.db

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# AWS SAM
.aws-sam/
samconfig.toml

# Serverless Framework
.serverless/
node_modules/
